[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.23.0"
flask-redis = "*"
sendgrid = "==6.9.6"
python-dotenv = "*"
scikit-learn = "*"
nltk = "*"
pytorch-pretrained-bert = "*"
torchtext = "*"
transformers = "*"
gensim = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
